.Banners {
  padding-top: 90px;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.banner-table-row {
  color: rgb(68, 129, 195);
  background-color: white;
  font-size: small;

  @media (min-width: 720px) {
    background-color: white;
    color: rgb(68, 129, 195);
    font-size: x-large;
  }
}

.banner-table-header {
  color: rgb(68, 129, 195);
  background-color: white;


  @media (min-width: 720px) {
    background-color: white;
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(68, 129, 195);
  }
}

.banner-table {
  width: 50vw;

  @media (min-width: 720px) {
    width: 75vw;
  }
}

.current-table {
  width: 50vw;
}


.current-table-row {
  background-color: white;
  color: rgb(68, 129, 195);
  font-size: large;
}

.current-table-header {
  background-color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(68, 129, 195);
}

.character-img {
  width: 50px;
  padding-top: 50px;

  @media (min-width: 720px) {
    width: 160px;
    padding-top: 50px;
  }
}