.Banners {
  padding-top: 90px;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.banner-table-row {
  color: rgb(68, 129, 195);
  background-color: white;
  font-size: x-small;
  font-family: 'Lucida Sans';

  @media (min-width: 900px) {
    background-color: white;
    color: rgb(68, 129, 195);
    font-size: x-large;
    font-family: 'Lucida Sans';
  }
}

.banner-table-header {
  color: rgb(255, 255, 255);
  background-color: rgb(52, 52, 52);
  font-size: 10px;
  font-family: 'Lucida Sans';



  @media (min-width: 900px) {
    background-color: rgb(52, 52, 52);
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans';

  }
}

.banner-table {
  width: 45vw;
  background-color: rgb(52, 52, 52);
  font-family: 'Lucida Sans';

  @media (min-width: 900px) {
    width: 70vw;
    font-size: x-large;
    background-color: rgb(52, 52, 52);
    font-family: 'Lucida Sans';
  }
}

.banner-table-img {
  padding-top: 10px;
  width: 35px;

  @media (min-width: 900px) {
    width: 200px;
    padding-top: 50px;
  }
}



.add-remove-button {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: small;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: white;

}

.add-remove-button:hover {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: small;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: lightgray;
}

@media (min-width: 900px) {

  .add-remove-button {
    color: rgb(68, 129, 195);
    font-size: x-large;
    background-color: white;
  }

  .add-remove-button:hover {
    color: rgb(68, 129, 195);
    font-size: x-large;
    background-color: lightgray(255, 255, 255);
  }
}

.caution-text {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans';
  font-size: 25px;

  @media (min-width: 900px) {
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    font-size: 25px;
    max-width: 33vw;
  }
}

.banner-search-container {
  display: inline-block;
  background-color: rgb(52, 52, 52);
  border-radius: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}