.Banners {
  padding-top: 90px;
}

.centered-container {
  display: flex;
  justify-content: center;
}

.banner-table-row {
  color: rgb(68, 129, 195);
  background-color: white;
  font-size: x-small;

  @media (min-width: 900px) {
    background-color: white;
    color: rgb(68, 129, 195);
    font-size: x-large;
  }
}

.banner-table-header {
  color: rgb(68, 129, 195);
  background-color: white;


  @media (min-width: 900px) {
    background-color: white;
    font-size: 30px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(68, 129, 195);
  }
}

.banner-table {
  width: 50vw;

  @media (min-width: 900px) {
    width:70vw;
    font-size: x-large;
  }
}

.current-table {
  width: 50vw;
}


.current-table-row {
  background-color: white;
  color: rgb(68, 129, 195);
  font-size: large;
}

.current-table-header {
  background-color: white;
  font-size: 20px;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(68, 129, 195);
}

.character-img {
  width: 50px;
  padding-top: 50px;

  @media (min-width: 900px) {
    width: 160px;
    padding-top: 50px;
  }
}

.current-character-img {
  width: 50px;
  padding-top: 50px;

  @media (min-width: 900px) {
    width: 90px;
    padding-top: 50px;
  }
}

.add-remove-button {
  color: rgb(68, 129, 195);
  font-family: sans-serif;
  font-size: 15px;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: white;

  @media (min-width: 900px) {
    color: rgb(68, 129, 195);
    font-family: sans-serif;
    font-size: x-large;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: white;
  }
}

.add-remove-button:hover {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: lightgray;


  @media (min-width: 900px) {
    color: rgb(68, 129, 195);
    font-family: sans-serif;
    font-size: x-large;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: lightgray;
  }
}

.caution-text {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 25px;

  @media (min-width: 900px) {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 25px;
    max-width: 33vw;
  }
}