.current-character-img {
  width: 100%;

  @media (min-width: 900px) {
    width: 80px;
    padding-top: 20px;
  }
}

.current-table {
  width: 20vw;
  background-color: rgb(52, 52, 52);

  @media (min-width:900px) {
    width:40vw
  }
}

.current-table-row {
  background-color: white;
  color: rgb(68, 129, 195);
  font-size: xx-small;
  

  @media (min-width:900px) {
    background-color: white;
    color: rgb(68, 129, 195);
    font-size: large;
  }
}

.current-table-header {
  background-color: rgb(52, 52, 52);
  font-size: xx-small;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(255, 255, 255);

  @media (min-width:900px) {
    background-color: rgb(52, 52, 52);
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
  }
}