.Planner {
  padding-top: 120px;
}

.planner-text {
  font-size: medium;
}

.pyro-img {
  width: 30px;
  transform: translateY(5px);
}

@media (min-width: 900px) {
  .Planner {
    padding-top: 90px;
  }

  .planner-text {
    font-size: x-large;
  }

  .pyro-img {
    width: 60px;
    transform: translateY(10px);
  }
}