.Search {
  padding-top: 90px;
}

.search-input {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: x-large;
  width: 40vw;

  @media (min-width: 900px) {
    color: rgb(68, 129, 195);
    font-family: 'Lucida Sans';
    font-size: xx-large;
    width: 20vw;
  }
}

.profile-text {
  max-width: 500px;
  overflow-wrap: break-word;
}

.citation {
  max-width: 300px;
  font-family: 'Lucida Sans';
}