.Search {
  padding-top: 120px;
}

.search-prompt {
  font-size: small;
  color: rgb(68, 129, 195);
  max-width: 200px;
}

.profile-container {
  display: inline-block;
  background: white;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.search-input {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: large;
  width: 35vw;
  background-color: rgb(255, 255, 255);
  border: none;
}

.profile-text {
  max-width: 320px;
  overflow-wrap: break-word;
  color: rgb(68, 129, 195);

}

.citation {
  max-width: 300px;
  font-family: 'Lucida Sans';
}

.search-button {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: large;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: white;
}

.search-button:hover {
  color: rgb(68, 129, 195);
  font-family: 'Lucida Sans';
  font-size: large;
  height: fit-content;
  border: none;
  cursor: pointer;
  background-color: lightgray;
}



.profile-button {
  color: rgb(23, 107, 195);
  font-family: 'Lucida Sans';
  font-size: 15px;
  height: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(0.8vw);
}

.profile-button:hover {
  color: rgb(92, 135, 182);
  font-family: 'Lucida Sans';
  font-size: 15px;
  height: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(0.8vw);
}

@media (min-width:720px) {
  .Search {
    padding-top: 90px;
  }

  .search-button {
    color: rgb(68, 129, 195);
    font-family: 'Lucida Sans';
    font-size: x-large;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: white;
  }

  .profile-button {
    color: rgb(23, 107, 195);
    font-family: 'Lucida Sans';
    font-size: 30px;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(0.8vw);
  }

  .profile-button:hover {
    color: rgb(92, 135, 182);
    font-family: 'Lucida Sans';
    font-size: 30px;
    height: fit-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translateY(0.8vw);
  }

  .search-button:hover {
    color: rgb(68, 129, 195);
    font-family: 'Lucida Sans';
    font-size: x-large;
    height: fit-content;
    border: none;
    cursor: pointer;
    background-color: lightgray;
  }

  .search-prompt {
    font-size: large;
    color: rgb(68, 129, 195);
    max-width: 1000000000px;
  }

  .search-input {
    color: rgb(68, 129, 195);
    font-family: 'Lucida Sans';
    font-size: x-large;
    width: 20vw
  }

  .profile-text {
    max-width: 700px;
    overflow-wrap: break-word;
    color: rgb(68, 129, 195);
  }
}