.school-filter-container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.school-filter-button-clicked {
  border: none;
  background-color: lightgray;
  cursor: pointer;
  font-size: 20px;
}

.school-filter-button-unclicked {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
}

.school-filter-button-unclicked:hover {
  background-color: lightgray;
}

.owned-filter-button-clicked {
  border: none;
  background-color: lightgray;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace

}

.owned-filter-button-unclicked {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;

}

.owned-filter-button-unclicked:hover {
  background-color: lightgray;
  font-family: sans-serif;

}

.explosive-clicked {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 20px;
  font-family: sans-serif;

}

.explosive-unclicked:hover {
  background-color: lightgray;
  font-family: sans-serif;

}

.explosive-unclicked {
  background-color: white;
  border: none;
  cursor: pointer;
  color: rgb(255, 0, 0);
  font-size: 20px;
  font-family: sans-serif;

}

.piercing-clicked {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  color: goldenrod;
  font-size: 20px;
  font-family: sans-serif;

}

.piercing-unclicked:hover {
  background-color: lightgray;
  font-family: sans-serif;

}

.piercing-unclicked {
  background-color: white;
  border: none;
  cursor: pointer;
  color: goldenrod;
  font-size: 20px;
  font-family: sans-serif;

}

.mystic-clicked {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  color: rgb(40, 147, 214);
  font-size: 20px;
  font-family: sans-serif;

}

.mystic-unclicked:hover {
  background-color: lightgray;
  font-family: sans-serif;

}

.mystic-unclicked {
  background-color: white;
  border: none;
  cursor: pointer;
  color: rgb(40, 147, 214);
  font-size: 20px;
  font-family: sans-serif;

}


.sonic-clicked {
  background-color: lightgray;
  border: none;
  cursor: pointer;
  color: purple;
  font-size: 20px;
  font-family: sans-serif;

}

.sonic-unclicked:hover {
  background-color: lightgray;
  font-family: sans-serif;

}

.sonic-unclicked {
  background-color: white;
  border: none;
  cursor: pointer;
  color: purple;
  font-size: 20px;
  font-family: sans-serif;

}