.App {
  text-align: center;
  background-color: #48d7ff;
  height:108vw;
}

.App-link {
  color: #61dafb;
}

.characters-container {
  display: grid;
  padding-top: 2vw;
  grid-template-columns: repeat(11, 1fr); /* Repeat 1fr 11 times*/
}

.character-button-unclicked {
border: none;
background-color: transparent;
padding: 2%;
cursor: pointer;
}

.character-button-clicked {
  border: none;
  background-color:rgb(246, 122, 255);
  padding: 2%;
  cursor:pointer;
}

.character-name {
  color: white;
  font-size: large;
}
