.App {
  text-align: center;
  color:rgb(0, 0, 0);
  min-height:fit-content;
}

.App-link {
  color: #61dafb;
}

.characters-container {
  display: grid;
  padding-top: 2vw;
  grid-template-columns: repeat(2, 1fr); 

  @media (min-width: 1920px) {
    grid-template-columns: repeat(15, 1fr); 
  }
}

.character-button-unclicked {
border: none;
background-color: transparent;
padding-left: 2%;
padding-right: 2%;
cursor: pointer;
}

.character-button-unclicked:hover {
  opacity: 0.75;
}

.character-button-clicked {
  border: none;
  background-color:rgb(246, 122, 255);
  padding-left: 2%;
  padding-right: 2%;
  cursor:pointer;
}

.character-name {
  color: white;
  font-size: large;
}

body {
  background-color:rgb(98, 177, 219); 
}