.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.characters-container {
  display: grid;
  padding-top: 2vw;
  grid-template-columns: repeat(11, 1fr); /* Repeat 1fr 11 times*/
}

.character-button {
border: none;
background-color: transparent;
cursor: pointer;
}

.character-button-unclicked {
  border: none;
  background-color: gray;
}
